



/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*Media screen*/

body{
    margin:0;
}

.nav-logo{
    margin:0;
    padding:0;
    
}

.nav-list{
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0;
    justify-content:flex-end;
    overflow: hidden;
    background-color: aquamarine;
}

.nav-list a{
    text-decoration: none;
    padding: 10px;
}

.nav-list a:hover{
    background-color: blueviolet;
}
